* {
    margin: 0;
    padding: 0;
    overflow: hidden;
    box-sizing: border-box;
}
circle {
    fill: #FF6B6B;
    stroke: #fff;
}
body {
    font-family: "Raleway", sans-serif;
    color: rgba(255,255,255,0.87);
    background-color: #FFF;
}
h1, h2, h3 {
    font-weight: normal;
}

h1 {
    font-size: 4em;
    text-align: right;
}
h2 {
    font-size: 2.5em;
    margin-top: 1em;
}
h3 {
    font-size: 1em;
    text-align: left;
    display: inline-block;
    margin-bottom: 0.5em;
}
p {
    font-size: 1.5em;
    margin-left: 10px;
    margin-right: 10px;
    margin-top: 2em;
}

p.shorturl {
    font-size: 2em;
    position: absolute;
    bottom: 0;
    left: 0;
}
.sidebar {
    position: absolute;
    top: 0;
    width: 22%;
    overflow: auto;
    height: 100%;
    background-color: #556270;
    box-shadow: 5px 0px 20px #aaa;
    padding: 0 20px;
    z-index: 1;
    left: 0;
}
.background {
    fill: none;
    pointer-events: all;
}
#map {
    background-color: #fff;
    width: 78%;
    height: 100%;
    position: absolute;
    right: 0;
}
#suburbs {
    fill: #4ECDC4;
    stroke: #fff;
    stroke-linejoin: round;
    stroke-linecap: round;
}

#heading {
    background-color: #C7F464;
    color: rgba(0,0,0,0.54);
    top: 0;
    left: 0;
    position: relative;
    padding: 30px 20px;
    margin: 0 -20px;
    margin-bottom: 20px;
    border-bottom: #555 40px solid;
}

#artpanel {
    display: inline;
    position: absolute;
    z-index: 2;
    left: 22%;
    height: 100%;
    width: 65%;
}
#plaque {
    float: left;
    width: 30%;
    background-color: #556270;
    top: 0;
    border: #555 4px solid;
    padding: 10px;
    overflow: visible;
    max-height: 100%;
}

#artphoto {
    height: 100%;
    background: #000;
    width: 70%;
    float: left;
}
#artimg {
    border: #000 4px solid;
    width: 100%;
    max-height: 100%;
    position: relative;
    top: 50%;
    -webkit-transform: translateY(-50%);
    -ms-transform: translateY(-50%);
    transform: translateY(-50%);
}

#title {
    font-size: 1.5em;
}
#artist {
    font-weight: bold;
}
#down {
    margin-top: 20px;
    font-size: 0.75em;
    text-align: right;
    margin-bottom: -10px;
}

.instructions {
    font-size: 1.5em;
}