* {
    margin: 0;
    padding: 0;
    overflow: hidden;
    box-sizing: border-box;
}
circle {
    fill: #FF6B6B;
    stroke: #fff;
}
body {
    font-family: "Raleway", sans-serif;
    color: rgba(255,255,255,0.87);
    background-color: #FFF;
}
h1, h2, h3 {
    font-weight: normal;
}

h1 {
    font-size: 40px;
    font-weight: 600;
}
h2 {
    font-size: 30px;
    margin-top: 10px;
}
h3 {
    font-size: 25px;
    text-align: left;
    display: inline-block;
}
p {
    font-size: 15px;
    margin-top: 20px;
}

#heading h2 {
    font-weight: 300;
}

p.shorturl {
    color: rgba(255,255,255,0.54);
    position: absolute;
    bottom: 20px;
    right: 20px;
}
.sidebar {
    position: absolute;
    top: 0;
    width: 22%;
    min-width: 250px;
    overflow: auto;
    height: 100%;
    background-color: #556270;
    padding: 0 20px;
    z-index: 100;
    left: 0;
    font-size: 1rem;
}

.sidebar h1 {
    font-size: 3em;
}

.sidebar h2 {
    font-size: 2em;
}

.sidebar .instructions h3 {
    font-size: 1.5em;
}

.sidebar .instructions p {
    font-size: 1.25em;
}
.sidebar .instructions  #twitteraccount {
    font-size: 1.5em;
    font-weight: 500;
}

.sidebar .shorturl {
    font-size: 1em;
}

#plaque p {
    font-size: 1em;
}

#plaque h4 {
    font-size: 1.5em;
}

.background {
    fill: none;
    pointer-events: all;
}
#map {
    background-color: #fff;
    width: 78%;
    height: 100%;
    position: absolute;
    right: 0;
}
#suburbs {
    fill: #4ECDC4;
    stroke: #fff;
    stroke-linejoin: round;
    stroke-linecap: round;
}

#heading {
    background-color: #C7F464;
    color: rgba(0,0,0,0.54);
    top: 0;
    left: 0;
    position: relative;
    padding: 30px 20px;
    margin: 0 -20px;
    margin-bottom: 20px;
}

a.back-link {
    text-decoration: none;
}

.back {
    color: rgba(0,0,0,0.32);
    font-size: 1.25em;
    margin-top: 10px;
    margin-bottom: -20px;
}

#artpanel {
    display: inline;
    position: absolute;
    z-index: 10;
    left: 22%;
    height: 100%;
    width: 65%;
}
#plaque {
    position: absolute;
    right: 0;
    width: 30%;
    background-color: rgba(196,77,88,0.8);
    top: 0;
    padding: 10px;
    overflow: visible;
    max-height: 100%;
    z-index: 4;
}

#plaque p {
    display: block;
    margin-top: 10px;
}

#artphoto {
    position: absolute;;
    height: 100%;
    background-color: rgba(85,98,112, 0.8);
    width: 70%;
    z-index: 5;
}
#artimg {
    padding: 20px;
    position: relative;
    top: 50%;
    left: 50%;
    -webkit-transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
}

img.portrait {
    height: 100%;
}

img.landscape {
    width: 100%;
}
#artist {
    font-weight: bold;
}
#down {
    margin-top: 10px;
    font-size: 0.9em;
    text-align: right;
}

.instructions {
    padding: 0 20px;
    margin: 0 -20px;
}

.instructions h3 {
    padding: 20px;
    margin: 0 -20px;
    background-color: #55acee;
    display: block;
}

.shadow {
    box-shadow: 5px 0px 20px rgba(0,0,0,0.54);
}