* {
    margin: 0;
    padding: 0;
    overflow: hidden;
    box-sizing: border-box;
}
circle {
    fill: #FF6B6B;
    stroke: #fff;
}
body {
    font-family: "Raleway", sans-serif;
    color: rgba(255,255,255,0.87);
    background-color: #FFF;
}
h1, h2, h3 {
    font-weight: normal;
}

h1 {
    font-size: 50px;
    font-weight: 500;
}
h2 {
    font-size: 2.5em;
    margin-top: 0.5em;
}
h3 {
    font-size: 1em;
    text-align: left;
    display: inline-block;
    margin-bottom: 0.5em;
}
p {
    font-size: 1.5em;
    margin-top: 20px;
}

p.shorturl {
    font-size: 1.25em;
    color: rgba(255,255,255,0.54);
    position: absolute;
    bottom: 20px;
    right: 20px;
}
.sidebar {
    position: absolute;
    top: 0;
    width: 22%;
    overflow: auto;
    height: 100%;
    background-color: #556270;
    padding: 0 20px;
    z-index: 100;
    left: 0;
}
.background {
    fill: none;
    pointer-events: all;
}
#map {
    background-color: #fff;
    width: 78%;
    height: 100%;
    position: absolute;
    right: 0;
}
#suburbs {
    fill: #4ECDC4;
    stroke: #fff;
    stroke-linejoin: round;
    stroke-linecap: round;
}

#heading {
    background-color: #C7F464;
    color: rgba(0,0,0,0.54);
    top: 0;
    left: 0;
    position: relative;
    padding: 30px 20px;
    margin: 0 -20px;
    margin-bottom: 20px;
}

#artpanel {
    display: inline;
    position: absolute;
    z-index: 10;
    left: 22%;
    height: 100%;
    width: 65%;
}
#plaque {
    position: absolute;
    right: 0;
    width: 30%;
    background-color: #556270;
    top: 0;
    padding: 10px;
    overflow: visible;
    max-height: 100%;
    z-index: 4;
    font-size: 1.25em;
}

#plaque h3 {
    display: block;
}

#artphoto {
    position: absolute;;
    height: 100%;
    background: #000;
    width: 70%;
    z-index: 5;
}
#artimg {
    border: #000 4px solid;
    position: relative;
    top: 50%;
    left: 50%;
    -webkit-transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
}

img.portrait {
    height: 100%;
}

img.landscape {
    width: 100%;
}

#title {
    font-size: 1.5em;
}
#artist {
    font-weight: bold;
}
#down {
    margin-top: 20px;
    font-size: 0.75em;
    text-align: right;
    margin-bottom: -10px;
}

.instructions {
    padding: 0 20px;
    margin: 0 -20px;
}

.instructions h2 {
    padding: 20px;
    margin: 0 -20px;
    background-color: #55acee;
    font-size: 30px;
}

.instructions p {
    font-size: 22px;
}

#twitteraccount {
    font-size: 30px;
    font-weight: 500;
}

.shadow {
    box-shadow: 5px 0px 20px rgba(0,0,0,0.54);
}