<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <script src="//code.jquery.com/jquery-2.0.0.js"></script>
    <link href='http://fonts.googleapis.com/css?family=Raleway:400,500,700' rel='stylesheet' type='text/css'>
    <link type="text/css" rel="stylesheet" href="/static/ambient.css"/>
  </head>
  <body>
    <div class="sidebar left">
      <div id="heading">
        <h1>ARTifacts</h1>
        <h2>ACT Public Art</h2>
      </div>
      <p class="instructions">Tweet a suburb to @openart</p>
      <p style="display:none;">The ACT Government is providing our community with exciting art in public places in more accessible ways.</p>
      <p class="shorturl">artACT.com</p>
    </div>
    <div id="artpanel">
      <div id="artphoto">
        <img id="artimg" src="http://www.arts.act.gov.au/__data/assets/image/0007/390562/Toku_large.jpg">
      </div>
      <div id="plaque">
        <h3><span id="title">Alfred Deakin, A Life in Three Phases</span></h3>
        <h3><span id="artist">Phil Nizette and Jennifer Jones silly name</span></h3>
        <h3><span id="location">North Canberra</span></h3>
        <h3>Commissioned in <span id="commissionDate">2009</span> by <span id="commissioner">artsACT</span>
        </h3>
        <div id="down">
          <h3>Requested by <span id="tweeter">@maybe</span>
        </div>
      </div>
    </div>
    <div id="map"></div>
    <script src="//d3js.org/d3.v3.min.js"></script>
    <script src="//d3js.org/topojson.v1.min.js"></script>
    <script>
    d3.selection.prototype.moveToFront = function() {
      return this.each(function(){
        this.parentNode.appendChild(this);
      });
    };


    var ART_TIME = 5;
    var MAP_TIME = 5;
    var BEAT_TIME = 1;

    var m_width = $("#map").width(),
        width = $("#map").width(),
        height = $("#map").height();

    var projection = d3.geo.mercator()
        .center([149.0844, -35.3175])
        .scale(100000)
        .translate([width / 2, height / 2, 1]);

    var path = d3.geo.path()
        .projection(projection);

    var svg = d3.select("#map").append("svg")
        .attr("preserveAspectRatio", "xMidYMid")
        .attr("viewBox", "0 0 " + width + " " + height)
        .attr("width", m_width)
        .attr("height", m_width * height / width);

    svg.append("rect")
        .attr("class", "background")
        .attr("width", width)
        .attr("height", height);

    var g = svg.append("g");
    var g2 = g.append("g");
    var suburbs;
    var arts;
    var selected;
    var lastest_request = { timestamp: 0 };

    d3.json("/static/suburbs.topo.json", function(error, us) {
      suburbs = topojson.feature(us, us.objects.suburbs).features;
      g2.attr("id", "suburbs")
        .selectAll("path")
        .data(suburbs)
        .enter()
        .append("path")
        .attr("id", function(d) { return "suburb" + d.id; })
        .attr("d", path);

    });

    d3.json("/static/artsact.json", function(error, us) {
      arts = us;
      g2.selectAll(".pin")
        .data(arts)
        .enter().append("circle", ".pin")
        .attr("r", 5)
        .attr("id", function(d,i) { return "art" + i; })
        .attr("transform", function(d) {
          return "translate(" + projection([
            d.location.longitude,
            d.location.latitude
          ]) + ")"});
      setup_timers();
    });

    function zoom(t, xyz) {
      var visual_z = xyz[2]/2;
      if(xyz[2] == 1) visual_z = 1;

      var t1 = t.transition()
        .delay(BEAT_TIME * 1000)
        .duration(BEAT_TIME * 1000);

        t1
        .attr("transform", "translate(" + projection.translate() + ")scale(" + xyz[2] + ")translate(-" + xyz[0] + ",-" + xyz[1] + ")");
        t1
        .selectAll(["#suburbs"])
        .style("stroke-width", 1.0 / visual_z + "px");
        t1
        .selectAll("circle")
        .attr("r", 5.0/visual_z);
        t1
        .select("#art"+selected)
        .attr("r", 10.0/visual_z);
    }

    function select_point(t, id) {
      selected = id;
      g.select("#art" + selected).moveToFront();
      t
      .select("#art" + selected)
      .style("fill", "#c44d58")
      .attr("r", "10")
      .style("z-index", "100");
    }

    function deselect_point(t) {
      t
      .select("#art" + selected)
      .style("fill", "")
      .attr("r", "1.33333")
      .style("z-index", "");
      selected = null;
    }

    function get_xyz(d) {
      var bounds = path.bounds(d);
      var w_scale = (bounds[1][0] - bounds[0][0]) / width;
      var h_scale = (bounds[1][1] - bounds[0][1]) / height;
      var z = .96 / Math.max(w_scale, h_scale);
      var x = (bounds[1][0] + bounds[0][0]) / 2;
      var y = (bounds[1][1] + bounds[0][1]) / 2;
      return [x, y, z];
    }

    function get_art_xyz(d) {
      var xy = projection([d.location.longitude, d.location.latitude]);
      var z = 7.5;
      return [xy[0], xy[1], z];
    }

    function show_map() {
      var t = g.transition().duration(BEAT_TIME * 1000);
      var xyz = [width / 2, height / 2, 1];
      deselect_point(t);
      zoom(t, xyz);
    }

    function show_art(id) {
      var art = arts[id];
      console.log(art);
      var xyz = get_art_xyz(art);
      var t = g.transition().duration(BEAT_TIME * 1000);
      select_point(t, id);
      zoom(t, xyz);
    }

    function show_random_art() {
      d3.json("/twitter/latest_request", function(error, result) {
        var artID;
        try {
          if(result.timestamp > lastest_request.timestamp) {
            lastest_request = result;
            var possible_arts = arts.filter(function(element) {
              return element.suburb.indexOf(result.suburb.toUpperCase().substr(0, 4)) > -1;
            });
            var art = possible_arts[Math.floor((Math.random() * possible_arts.length))];
            artID = arts.indexOf(art);
          }
        } catch(e) { }
        
        // No request or error, so show a random art
        if(artID == null)
          artID = Math.floor((Math.random() * arts.length));

        show_art(artID);
      });

    }

    function setup_timers() {
      setInterval(function() {
        show_random_art();
        var mapInterval = setInterval(function() {
          clearInterval(mapInterval);
          show_map();
        }, ART_TIME * 1000);
      }, (ART_TIME+MAP_TIME) * 1000);
    }
    </script>
  </body>
</html>