<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <script src="//code.jquery.com/jquery-2.0.0.js"></script>
    <link href='http://fonts.googleapis.com/css?family=Raleway:300,400,500,600' rel='stylesheet' type='text/css'>
    <link type="text/css" rel="stylesheet" href="/static/ambient.css"/>
    <link href="//maxcdn.bootstrapcdn.com/font-awesome/4.1.0/css/font-awesome.min.css" rel="stylesheet">
    <title>ARTifacts: ACT Public Art – GovHack 2014</title>
  </head>
  <body>
    <div class="sidebar left shadow">
      <div id="heading">
        <a href="/"><h1>ARTifacts</h1></a>
        <h2>ACT Public Art</h2>
      </div>
      <div class="instructions">
        <h2><i class="fa fa-twitter fa-lg"></i> Twitter</h2>
        <p>Request art from a suburb! Tweet a suburb name to <span id="twitteraccount">@artifactsACT</span></p>
      </div>
      <p class="shorturl">data from arts.act.gov.au</p>
    </div>
    <div id="artpanel" style="left: -65%;">
      <div id="artphoto" class="shadow">
        <img id="artimg" src="">
      </div>
      <div id="plaque" class="shadow" style="right: 30%;">
        <h3><span id="title"></span></h3>
        <h3><span id="artist"></span></h3>
        <h3><span id="location"></span></h3>
        <h3>Commissioned in <span id="commissionDate"></span> by <span id="commissioner"></span>
        </h3>
        <div id="down">
          <h3>Requested by @<span id="tweeter"></span>
        </div>
      </div>
    </div>
    <div id="map"></div>
    <script src="//d3js.org/d3.v3.min.js"></script>
    <script src="//d3js.org/topojson.v1.min.js"></script>
    <script>
    d3.selection.prototype.moveToFront = function() {
      return this.each(function(){
        this.parentNode.appendChild(this);
      });
    };
    function toTitleCase(str)
    {
      return str.replace(/\w\S*/g, function(txt){return txt.charAt(0).toUpperCase() + txt.substr(1).toLowerCase();});
    }

    function get_local_image_url(remote_url) {
      var filename = remote_url.split("/").slice(-1)[0];
      return "/static/art_images/" + filename;
    }

    function size_art_image() {
      var img = $("#artimg");
      var container = $("#artphoto");

      var imgH = img[0].naturalHeight;
      var imgW = img[0].naturalWidth;
      console.log(imgW);
      console.log(imgH);

      if ( imgW < imgH ) { 
          $(img).removeClass("landscape");
          $(img).addClass("portrait");
      } else {
          $(img).removeClass("portrait");
          $(img).addClass("landscape");
      }
    }


    var ART_TIME = 20;
    var MAP_TIME = 5;
    var BEAT_TIME = 1;

    var m_width = $("#map").width(),
        width = $("#map").width(),
        height = $("#map").height();

    var projection = d3.geo.mercator()
        .center([149.0844, -35.3175])
        .scale(100000)
        .translate([width / 2, height / 2, 1]);

    var path = d3.geo.path()
        .projection(projection);

    var svg = d3.select("#map").append("svg")
        .attr("preserveAspectRatio", "xMidYMid")
        .attr("viewBox", "0 0 " + width + " " + height)
        .attr("width", m_width)
        .attr("height", m_width * height / width);

    svg.append("rect")
        .attr("class", "background")
        .attr("width", width)
        .attr("height", height);

    var g = svg.append("g");
    var g2 = g.append("g");
    var suburbs;
    var arts;
    var selected;
    var lastest_request = { timestamp: 0 };
    var artID;

    d3.json("/static/suburbs.topo.json", function(error, us) {
      suburbs = topojson.feature(us, us.objects.suburbs).features;
      g2.attr("id", "suburbs")
        .selectAll("path")
        .data(suburbs)
        .enter()
        .append("path")
        .attr("id", function(d) { return "suburb" + d.id; })
        .attr("d", path);

    });

    d3.json("/static/artsact.json", function(error, us) {
      arts = us;
      g2.selectAll(".pin")
        .data(arts)
        .enter().append("circle", ".pin")
        .attr("r", 5)
        .attr("id", function(d,i) { return "art" + i; })
        .attr("transform", function(d) {
          return "translate(" + projection([
            d.location.longitude,
            d.location.latitude
          ]) + ")"});
      setup_timers();
    });

    function zoom(t, xyz) {
      var visual_z = xyz[2]/2;
      if(xyz[2] == 1) visual_z = 1;

      var t1 = t.transition()
        .duration(BEAT_TIME * 1000);

        t1
        .attr("transform", "translate(" + projection.translate() + ")scale(" + xyz[2] + ")translate(-" + xyz[0] + ",-" + xyz[1] + ")");
        t1
        .selectAll(["#suburbs"])
        .style("stroke-width", 1.0 / visual_z + "px");
        t1
        .selectAll("circle")
        .attr("r", 5.0/visual_z);
        t1
        .select("#art"+selected)
        .attr("r", 10.0/visual_z);

        return t1;
    }

    function select_point(t, id) {
      selected = id;
      g.select("#art" + selected).moveToFront();
      t
      .select("#art" + selected)
      .style("fill", "#C7F464")
      .attr("r", "10")
      .style("z-index", "100");
      return t;
    }

    function deselect_point(t) {
      t
      .select("#art" + selected)
      .style("fill", "")
      .attr("r", "1.33333")
      .style("z-index", "");
      selected = null;
      return t;
    }

    function get_xyz(d) {
      var bounds = path.bounds(d);
      var w_scale = (bounds[1][0] - bounds[0][0]) / width;
      var h_scale = (bounds[1][1] - bounds[0][1]) / height;
      var z = .96 / Math.max(w_scale, h_scale);
      var x = (bounds[1][0] + bounds[0][0]) / 2;
      var y = (bounds[1][1] + bounds[0][1]) / 2;
      return [x, y, z];
    }

    function get_art_xyz(d) {
      var xy = projection([d.location.longitude, d.location.latitude]);
      var z = 7.5;
      return [xy[0] - width/(z*2*2), xy[1] - height/(z*2*2), z];
    }

    function show_panel() {
      var i = setInterval(function() {
        clearInterval(i);
        $("#artpanel").animate({left: '22%'}, 750, 'swing', function() {
          $("#plaque").animate({right: '0%'}, 250);
        });
      }, BEAT_TIME*1000);
    }

    function hide_panel(end) {
      $("#plaque").animate({right: '30%'}, 250, 'swing', function() {
        $("#artpanel").animate({left: '-70%'}, 750, 'swing', function() {
          var i = setInterval(function() {
            clearInterval(i);
            end();
          }, BEAT_TIME*500);
        });
      });
    }

    function show_map() {
      hide_panel(function() {
        var xyz = [width / 2, height / 2, 1];
        var t = g.transition().duration(BEAT_TIME * 1000);
        var t2 = deselect_point(t);
        var t3 = zoom(t2, xyz);
        t3.each("end", function() {
          load_next_art();
        })
      });
    }

    function show_art() {
      var art = arts[artID];
      var xyz = get_art_xyz(art);
      var t = g.transition().duration(BEAT_TIME * 1000);
      var t2 = select_point(t, artID);
      var t3 = zoom(t2, xyz);
      t3.each("end", show_panel);
      size_art_image();
    }

    function load_next_art() {
      d3.json("/twitter/latest_request", function(error, result) {
        var thisArtID;
        try {
          if(result.timestamp > lastest_request.timestamp) {
            lastest_request = result;
            var possible_arts = arts.filter(function(element) {
              return element.suburb.indexOf(result.suburb.toUpperCase().substr(0, 4)) > -1;
            });
            var art = possible_arts[Math.floor((Math.random() * possible_arts.length))];
            thisArtID = arts.indexOf(art);
            $("#down").show();
            $("#tweeter").text(result.screen_name);
          }
        } catch(e) { }
        
        // No request or error, so show a random art
        if(thisArtID == null) {
          thisArtID = Math.floor((Math.random() * arts.length));
          $("#down").hide();
        }

        artID = thisArtID;

        var art = arts[artID];
        $("#title").text(art.title);
        $("#artist").text(art.artist);
        $("#location").text(toTitleCase(art.suburb));
        $("#commissioner").text(art.commissioned_details);
        $("#commissionDate").text(art.date);
        $("#artimg").attr("src", get_local_image_url(art.url_2.url));
      });
    }

    function setup_timers() {
      load_next_art();
      setInterval(function() {
        show_art();
        var mapInterval = setInterval(function() {
          clearInterval(mapInterval);
          show_map();
        }, ART_TIME * 1000);
      }, (ART_TIME+MAP_TIME) * 1000);
    }
    </script>
  </body>
</html>