{% extends "_layout.html" %}
{% set active_page = "index" %}

{% block title %}Index{% endblock %}
{% block content %}
    <h3 class="text-muted">MHV GovHack2014 - Canberra Open Art</h3>
      </div>

      <div class="jumbotron">
        <h1>Canberra Open Art</h1>
        <p class="lead">This site, created in 48 hours during GovHack 2014, aims to help you discover the artwork that's all around you.</p>

		<h2>Why?</h2>
    	<p>A list of public art in Canberra is available from the ACT government, but many people don't know that it exists</p>
    	<p>By making it accessible via Twitter, we aim to raise awareness of the art in the region</p>

    	<h2>Who?</h2>
    	<p>Created with love (and caffeine) by the @makehackvoid team in Canberra, Australia</p>

    	<h2>Show me the site!</h2>
        <a href="/ambient">It's available here</a>.
      </div>
{% endblock %}
