{% extends "_layout.html" %}
{% set active_page = "index" %}

{% block title %}Index{% endblock %}
{% block content %}
    <div class="jumbotron">
      <h1>ARTifacts</h1>
      <p class="lead">This site, created in 48 hours during GovHack 2014, aims to help you discover the artwork that's all around you.</p>
	<h2>What?</h2>
         <p>Artifacts is an ambient information display, designed to be presented on large displays in public locations around Canberra.</p>
         
        <h2>Why?</h2>
    	<p>A list of public art in Canberra is available from the ACT government, but many people don't know that it exists.</p>
    	<p>By making it accessible via Twitter, we aim to raise awareness of the art in the region.</p>

    	<h2>Who?</h2>
    	<p>Created with love (and caffeine) by the <a href="https://twitter.com/makehackvoid/">@makehackvoid</a> team in Canberra, Australia</p>

    	<a class="btn btn-lg btn-primary" href="/ambient">Show Me!</a>
    </div>
    <a href="https://github.com/makehackvoid/govhack2014/fork"><img style="position: absolute; top: 0; right: 0; border: 0;" src="https://camo.githubusercontent.com/e7bbb0521b397edbd5fe43e7f760759336b5e05f/68747470733a2f2f73332e616d617a6f6e6177732e636f6d2f6769746875622f726962626f6e732f666f726b6d655f72696768745f677265656e5f3030373230302e706e67" alt="Fork me on GitHub" data-canonical-src="https://s3.amazonaws.com/github/ribbons/forkme_right_green_007200.png"></a>
{% endblock %}
