{% extends "_layout.html" %}
{% set active_page = "index" %}

{% block title %}Index{% endblock %}
{% block content %}
    <div class="jumbotron">
      <h1>ARTifacts</h1>
      <p class="lead">This site, created in 48 hours during GovHack 2014, aims to help you discover the artwork that's all around you.</p>

		  <h2>Why?</h2>
    	<p>A list of public art in Canberra is available from the ACT government, but many people don't know that it exists.</p>
    	<p>By making it accessible via Twitter, we aim to raise awareness of the art in the region.</p>

    	<h2>Who?</h2>
    	<p>Created with love (and caffeine) by the <a href="https://twitter.com/makehackvoid/">@makehackvoid</a> team in Canberra, Australia</p>

    	<a class="btn btn-lg btn-primary" href="/ambient">Show Me!</a>
    </div>
{% endblock %}
